1.	Создать кортеж, содержащий 4 разных числа. Вывести на экран значение второго элемента кортежа.

In [ ]:
list = (3, 5, 7, 12)
print(list[1])

5

2.	Написать программу, которая принимает строку от пользователя и выводит количество символов в этой строке.

In [ ]:
line = input()
print(len(line))

dgsg
4

3.	Создать словарь, содержащий информацию о студенте: имя, возраст, курс. Вывести всю информацию о студенте на экран.

In [ ]:
student = {"Name:": "Mary", "Age:": 35, "Course:": 3}
for key in student:
  print(key, student[key])

Name: Mary
Age: 35
Course: 3

4.	Используя цикл, создать список, содержащий все целые числа от 1 до 10, и вывести его на экран.

In [ ]:
x = 0
list = []
while x < 10:
  x = x + 1
  list.append(x)
print(list)
list_2 = []
for i in range(1, 11):
    list_2.append(i)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

5.	Написать функцию, которая принимает список чисел и возвращает их сумму.

In [ ]:
line = [3, 4, 2]
print(sum(line))

9

6.	Создать множество из 5 разных чисел, затем добавить в него новое число и вывести на экран.

In [ ]:
list_many = {2, 4, 6, 3, 11}
list_many.add(8)
print(list_many)

{2, 3, 4, 6, 8, 11}

7.	Написать программу, которая принимает от пользователя целое число и выводит на экран его квадрат.

In [ ]:
number = int(input())
print(pow(number, 2))

7
49

8.	Создать словарь с пятью парами «ключ-значение», где ключи - названия фруктов, а значения - их цвета. Вывести значения всех ключей.

In [ ]:
fruits = {
  'banan' : 'yellow',
  'apple' : 'red',
  'kiwi' : 'green',
  'orange' : 'orange',
  'grape' : 'purple'
}
fruitsKeys = fruits.keys()
print(fruitsKeys)

dict_keys(['banan', 'apple', 'kiwi', 'orange', 'grape'])

9.	Написать функцию, которая принимает строку и выводит ее в обратном порядке.

In [ ]:
line2 = input()
print(line2[::-1])

ghjkl
lkjhg

10.	Создать список из 5 строк и заменить в нем третий элемент на новую строку.

In [ ]:
list3 = ['line1', 'line2', 'line3', 'line4', 'line5']
print(list3)
list3[2] = list3[1]
print(list3)

['line1', 'line2', 'line3', 'line4', 'line5']
['line1', 'line2', 'line2', 'line4', 'line5']